.button {
    -fx-background-color: #A1B69E;
    -fx-border-color: WHITE;
}
.button: hover {
    -fx-background-color: #259b42;
    -fx-font-weight: bold;
}
.button: pressed {
    -fx-background-color: #b7ffa2;
    -fx-border-color: #259b42;
}